.centered {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.rules {
    display: flex;
    align-items: start;
    font-size: 25px;
    padding-left: 20px;
    background-color: #D5D5D5;
}

.rulesText {
    padding: 20px;
    color: #000000;
    font-family: "Helvetica", "Times New Roman", "Digital-7", "Sans-Serif";
}

.vertical {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 25px;
}

.resultContainer {
    display: flex;
    padding-top: 20px;
    background-color: #3b3b3b;
    align-items: center;
}

.resultText {
    display: flex;
    justify-content: center;
    color: #C0FF6B;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 1%;
    background-color: #3b3b3b;
}

ul {
    margin-bottom: 0px;
}

.score {
    color: #C0FF6B;
    font-weight: bold;
    font-size: 125px;
    font-family: "Digital-7", "Helvetica", "Sans-Serif";
}

.choiceButtons {
    padding: 100px;
    background-color: #D5D5D5;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    gap: 10px;
}

.roundedButton {
    border-radius: 40px;
    width: 200px;
    height: 200px;
}

.reload {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 50px;
}

h1 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 100px;
    text-align: center;
    padding: 5px;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #D5D5D5;
    color: #000000;
}

body {
    background-color: #000000;
    color: white;
    font-family: "Digital-7", "Helvetica", "Sans-Serif";
}

@font-face {
    font-family: "Digital-7";
    src: url(fonts/digital-7.ttf);
}